<h1>Your Diary</h1>

<form action="/added" method="post">
  <input placeholder="Entry title" type="text" name="title" id="title">
  <input placeholder="diary entry" type="text" name="entry" id="entry"><br><br>
  <input type="submit" value="Submit">
</form>
